@model ProjetWeb.Models.Oeuvre

@{
    ViewBag.Title = "Details";
    
}

<h2>Details</h2>

<div>
    <h4>Oeuvres</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Titre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre_Oeuvre)
        </dd>

        <dt>
            Musicien: 
        </dt>

        <dd>
            @Html.ActionLink("Details", "DetailMusicien", new { id = Model.Code_Oeuvre, nom = Model.Titre_Oeuvre})
        </dd>

        <dt>
            Sous-titre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sous_Titre)
        </dd>

        <dt>
            Tonalité
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tonalite)
        </dd>
        <dt>
            Année 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee)
        </dd>
        <dt>
            Extrait
        </dt>
        <dd>
            <audio src="@Url.Action("Audio","Recherche",new {id = Model.Code_Oeuvre})" controls></audio>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Code_Oeuvre }) |
    @Html.ActionLink("Back to List", "Index","Home")
</p> 