@model ProjetWeb.Models.Musicien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div>
    <h4>Musicien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nom Musicien
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Musicien)
        </dd>

        <dt>
            Prénom Musicien
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom_Musicien)
        </dd>

        <dt>
            Année de Naissance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee_Naissance)
        </dd>

        <dt>
            Année de Mort
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee_Mort)
        </dd>

        <dt>
            Libelle du genre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Libelle_Abrege)
        </dd>

        <dt>
            Nom de l'instrument
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instrument.Nom_Instrument)
        </dd>

        <dt>
            Nom du Pays
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pays.Nom_Pays)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img src="@Url.Action("Photo", "Recherche", new { id = Model.Code_Musicien })" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Accéder aux Albums", "Album", new { id = Model.Code_Musicien })
    @Html.ActionLink("Accéder aux Oeuvre", "OeuvreMusicien", new { id = Model.Code_Musicien })
</p>
